input,
select {
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    outline-color: #019160;
}
.input-search-icon {
    background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -89px -33px;
    width: 22px;
    height: 22px;
}